<div class="flex items-center social-icons space-x-4 xl:mt-0 mt-8">
    <span class="text-sm lg:text-base font-medium text-gray-700 dark:text-gray-300 transition-colors">{{t "Share on:"}}</span>
    <a class="shadow-md hover:shadow-2xl text-sm h-10 w-10 inline-flex items-center justify-center rounded-full bg-primary hover:bg-white dark:hover:bg-white text-white" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580, height=300');return false;">{{> "icons/facebook"}}</a>
    <a class="shadow-md hover:shadow-2xl text-sm h-10 w-10 inline-flex items-center justify-center rounded-full bg-primary hover:bg-white dark:hover:bg-white text-white" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=580, height=300');return false;">{{> "icons/twitter"}}</a>
</div>