{{!< default}}

{{!-- MODIFIED: Grouped the carousel and post-loop into one container to prevent global spacing gaps --}}
<div>
    {{> "main-carousel"}}
    {{> "post-loop"}}
</div>

{{> "categories-preview" maxTags="4" }}

{{> "subscribe-cta"}}

{{#contentFor "index-scripts"}}
    <script src="{{asset "built/js/embla.js"}}"></script>
    <script src="{{asset "built/js/index.js"}}"></script>
{{/contentFor}}